header .row .col-12 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.navbar {
  background-color: #074f62;
}

.navbar-brand {
  margin-left: 25px;
}

.navbar-nav {
  margin-right: 25px;
}

.nav-link {
  color: #660377;
}

footer {
  background-color: #074f62;
}

footer p, footer a {
  color: #5edefd;
}
